

header {
    height: 120px;
    width: 100%;
    background-color: #024187;
}



.logo {
    float: left;


}

.logo img {
    padding-left: 20px;
    padding-top: 30px;
}

.head {
    margin-top: -60px;
    margin-left: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}



.head ul li a:hover {
    color: white;
    text-decoration: none;
    font-family: "Mulish";
    font-size: large;
    font-weight: 900;
    transition: all 0.3s;
}

nav {
    float: right;
    word-spacing: 0;
    padding: 20px;
}

nav li {
    line-height: 30px;
}

section .sec_img {
    height: 800px;
    margin: 0px;
    background-image: url("images/img_14901_3.jpg");
}

.box {
    height: 500px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.979);
    margin: 70px auto;
    opacity: .7;
    color: white;
    font-family: "Mulish";
}


/*-------------------------------------Student_login---------------*/

.std_log_in {
    height: 800px;

    margin: 0px;
    background-image: url("images/library-09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*----------------------------------Staff Login -----------------------------*/

.log_in_staff {
    background-image: url("images/media_2511_en_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}

/*----------------------------------Staff Login -----------------------------*/

.log_in_admin {
    background-image: url("images/2129142.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;


}

/*----------------------------------form-----------------*/


.box1 {

    height: 450px;
    width: 450px;
    background-color: black;
    margin: 70px;
    opacity: .7;
    color: white;
    padding: 20px;
}

form .login {
    margin: auto 70px;
}

.input {
    height: 25px;
    width: 300px;

}

.login input {
    width: 300px;
    /* adjust as needed */
    height: 35px;
    /* adjust height */
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    /* optional, makes edges rounded */
    margin-bottom: 15px;
}

/*--------------------------------Student registration-------------------*/

.reg_img {
    height: 800px;
    margin: 0px;
    background-image: url("images/library-09.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box2 {
    height: 650px;
    width: 450px;
    background-color: black;
    opacity: .7;
    color: white;
    padding: 20px;
}
/* Ensure navbar dropdowns behave properly */

